/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.contact,
.course,
.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content .course.course-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px;
    background: rgb(240, 1, 49)
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 60px;
    border: 3px;
    border-radius: 30px;
}

.navbar .logo a span {
    color: white;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: black;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}


/* menu btn styling */

.menu-btn {
    color: rgb(0, 204, 92);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */

.home {
    display: flex;
    background: url("OIP.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 35px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 45px;
    margin: 5px 0;
    font-weight: bold;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: none;
}


/* about section styling */

.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}


/* education section styling */

.ten {
    width: 150px;
}

.ms {
    width: 200px;
}

.jbiet {
    width: 150px;
}

.services,
.teams {
    color: #fff;
    background: #111;
}

.services .title::before,
.teams.title::before {
    background: #fff;
}

.services .title::after,
.title::after {
    background: #111;
    content: "what i studied";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #1495d1;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: crimson;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*course section styling*/

.course {
    align-items: center;
    justify-content: center;
    display: block;
}

.ten {
    width: 150px;
}

.ms {
    width: 200px;
}

.jbiet {
    width: 150px;
}

.para {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    ;
    background-color: #ff0000;
    border: 3px #111;
    border-radius: 5px;
    padding: 20px;
}

.ai {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-family: 'Ubuntu';
}


/* skills section styling */

.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 70%;
}

.skills-content .right .js::before {
    width: 30%;
}

.skills-content .right .C::before {
    width: 85%;
}

.skills-content .right .Python::before {
    width: 50%;
}


/* contact section styling */


/* footer section styling */

footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
}

.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #f70767d0;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 23px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #fff;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #2212db;
}

.wrapper .button:nth-child(4) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(5) span {
    color: #ff0000;
}


/* responsive media query start */

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: #fff;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

.resume {
    text-align: center;
    font-size: 30px;
    background-color: #fff;
}

#btn {
    width: 150px;
    color: #ff0000;
    font-size: 20px;
    background-color: white;
    color: #ff0000;
    text-decoration: none;
    border: 2px solid red;
}

.copyright {
    font-size: 30px;
    color: white
}

.copyright li a {
    color: white;
}

#down {
    background-color: red;
}


/* hobbiesh*/

.hobbies-content {
    text-align: center;
    font-size: 25px;
}


/* project section

#full {
    background-color: aliceblue;
    display: inline;
    text-transform: capitalize;
    transition: .2s linear;
}

.full-control {
    /*width: 100%;
    height: auto;
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 9%;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.full-control .controls {
    display: grid;
    grid-template-columns: repeat(auto-fi t, minmax(270px, ifr));
}

.text {
    text-align: center;
    color: rgb(93, 15, 138);
    font-size: 25px;
    padding-bottom: 25px;
    text-shadow: 0 5px 10px rgb(0, 0, 0, -2);
}

.box1 {
    background-color: skyblue;
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.box2 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.text1 {
    text-align: center;
    font-size: 20px;
}


/*1

.car1 {
    background-color: rgb(15, 156, 149);
    width: calc(33% - 30px);
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.car2 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.cartext {
    text-align: center;
    font-size: 20px;
}


/*2

.boxs3 {
    background-color: rgb(48, 13, 145);
    width: calc(33% - 30px);
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.boxs4 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.texts3 {
    text-align: center;
    font-size: 20px;
}


/*

.bot4 {
    background-color: rgb(161, 12, 104);
    width: calc(33% - 30px);
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.bot5 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.text5 {
    text-align: center;
    font-size: 20px;
}


/*4

.sum5 {
    background-color: rgb(123, 187, 21);
    width: calc(33% - 30px);
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.sum6 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.text6 {
    text-align: center;
    font-size: 20px;
}


/*5

.add {
    background-color: rgb(199, 58, 15);
    width: calc(33% - 30px);
    width: 400px;
    height: auto;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
}

.add3 img {
    width: 100px;
    height: 100px;
    text-align: center;
    display: block;
}

.text7 {
    text-align: center;
    font-size: 20px;
}
/*
/*new des*/

.cotainer {
    /* background: linear-gradient(45deg, blueviolet, lightgreen);*/
    background-color: #111;
    padding: 15px, 9%;
    padding-bottom: 100px;
}

.cotainer h3 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 5px 10px rgba(182, 14, 14, 0.829);
    color: #fff;
    font-size: 30px;
    background-color: pink;
    padding: 20px;
    font-weight: bold;
}

.cotainer .box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    border-radius: px;
}

.cotainer .box-content .box {
    box-shadow: 0 5px, 10px rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
}

.cotainer .box-content .box img {
    height: 200px;
    width: 250px;
}

.cotainer .box-content .box h3 {
    color: rgb(185, 16, 86);
    font-size: 22px;
    padding: 10px 0;
}

.cotainer .box-content .box p {
    color: #888;
    font-size: 15px;
    line-height: 1.8;
}

.cotainer .box-content .box .btn {
    margin-top: 10px;
    font-size: 17px;
    display: inline-block;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    padding: 8px 25px;
}

.cotainer .box-content .box.btn:hover {
    letter-spacing: 1px;
}

.cotainer .box-content .box.box:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0);
    transform: scale(1.02);
}

@media (max-width:768px) {
    .cotainer {
        padding: 20px;
    }
}


/*machine lrarning*/

.mac {
    /*background: linear-gradient(45deg, blueviolet, lightgreen);*/
    background-color: #111;
    padding: 15px, 9%;
    padding-bottom: 100px;
}

.mac h3 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 5px 10px rgb(189, 10, 10);
    color: #fff;
    background-color: pink;
    padding: 20px;
    font-weight: bold;
}

.mac .con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.mac .con .boxs {
    box-shadow: 0 5px, 10px rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    padding: 30px 20px;
    border-radius: 5px;
}

.mac .con .boxs img {
    height: 200px;
    width: 250px;
}

.mac .con .boxs h3 {
    color: rgb(185, 16, 86);
    font-size: 22px;
    padding: 10px 0;
}

.mac .con .boxs p {
    color: #888;
    font-size: 15px;
    line-height: 1.8;
}

.mac .con .boxs .buttom {
    margin-top: 10px;
    font-size: 17px;
    display: inline-block;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    padding: 8px 25px;
}

.mac .con .boxs .buttom:hover {
    letter-spacing: 1px;
}

.mac .con .boxs.boxs:hover {
    box-shadow: 0 10px 15px rgb(0, 0, 0);
    transform: scale(1.02);
}

@media (max-width:768px) {
    .mac {
        padding: 20px;
    }
}


/* hobees*/

.hob {
    background-color: #f1f1f1;
    padding: 15px, 9%;
    padding-bottom: 100px;
}

.hob h3 {
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0 5px 10px rgb(189, 10, 10);
    color: #fff;
    background-color: pink;
    padding: 20px;
    font-weight: bold;
}

.hob-con .cost p {
    text-align: center;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}


/*button*/

.res {
    background-color: #ce0a0a;
    color: white;
    text-align: center;
    height: 80px;
}

.res .btn2 {
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    color: black;
}

.res .btn2:hover {
    letter-spacing: 1px;
}

.cla {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding-top: 30px;
    text-align: center;
}

.cla h2 {
    text-align: center;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 30px
}